class Mmt < Formula
  desc "TUI for controlling macOS Music.app with keyboard"
  homepage "https://github.com/krzmknt/macos-music-tui"
  url "https://github.com/krzmknt/macos-music-tui/releases/download/v{{VERSION}}/mmt-{{VERSION}}-darwin-arm64.tar.gz"
  sha256 "{{SHA256}}"
  license "MIT"

  depends_on :macos

  def install
    bin.install "mmt"
  end

  test do
    assert_match "mmt v", shell_output("#{bin}/mmt --version")
  end
end
